{% set image_user = app.user.image ? app.user.image.path : 'images/users/default.png' %}
{% block aside %}
    <!-- Left side column. contains the sidebar -->
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="{{ asset(image_user) }}" class="user-image" alt="User image" />
                </div>
                <div class="pull-left info">    
                    <p>{{ app.user.profile ? app.user.profile.nome : app.user.username }}</p>
                </div>
            </div>

            <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Pesquisar...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                </div>
            </form>
            <!-- /.search form -->
            {% set rota = app.request.attributes.get('_route') %}
            {% set permission = app.user.permission %}

            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MENU</li>

                {% for menu in menus %}
                    
                    <li class="treeview {{ (menu.path == rota ) ? "active " }}" >
                        
                        {% if not (menu.path) %}
                            
                            {% if permission(permission, menu.permission) %}
                            
                                <a href="#">

                                    <i class="{{menu.icon}}"></i><span>{{menu.title}}</span> <i class="pull-right fa fa-angle-left"></i>

                                    <ul class="treeview-menu">

                                        {% for subMenu in menu.secondMenu %}

                                            <li class="{{ (subMenu.path == rota ) ? "active" }}">

                                                {% if not (subMenu.path) %}
                                                    
                                                    {% if permission(permission, subMenu.permission) %}
                                                        
                                                        <a href="#">

                                                            <i class="{{subMenu.icon}}"></i><span>{{subMenu.title}}</span> <i class="pull-right fa fa-angle-left"></i>

                                                            <ul class="treeview-menu">

                                                                {% for thirdMenu in subMenu.thirdMenu %}

                                                                     {% if permission(permission, thirdMenu.permission) %}

                                                                        <li class="{{ (thirdMenu.path == rota ) ? "active " }}">

                                                                            <a href="{{path(thirdMenu.path)}}">

                                                                                <i class="{{thirdMenu.icon}}"></i><span>{{thirdMenu.title}}</span> <i class="pull-right"></i>

                                                                            </a>

                                                                        </li>
                                                                     {% endif %}

                                                                {% endfor %}

                                                            </ul>
                                                        </a>
                                                    {% endif %}

                                                {% else %}
                                                    {% if permission(permission, subMenu.permission) %}
                                                        <a href="{{path(subMenu.path)}}">
                                                            <i class="{{subMenu.icon}}"></i><span>{{subMenu.title}}</span> <i class="pull-right"></i>
                                                        </a>
                                                    {% endif %}
                                                {% endif %}

                                            </li>

                                        {% endfor %}

                                    </ul>
                                </a>
                            {% endif %}
                            
                        {% else %}
                            {% if permission(permission, menu.permission) %}
                                <a href="{{path(menu.path)}}">
                                    <i class="{{menu.icon}}"></i><span>{{menu.title}}</span> <i class="pull-right"></i>
                                </a>        
                            {% endif %}
                        {% endif %}
                    </li>
                {% endfor%}
            </ul>

        </section>
        <!-- /.sidebar -->
    </aside>
{%endblock%}