{% extends "@Institucional/Template/template.html.twig"%}
{% block title %}{{ success.title }}{% endblock %}
{% block stylesheets %}<style>body{background-color: #ECF0F5 !important;}</style>{% endblock %}
{% block body %}
    <!-- Main content -->
    <section class="content">
        <div class="error-page">
          <h2 class="headline text-success"> <i class="fa fa-check text-success"></i></h2>

          <div class="error-content">
            <h3><i class="fa fa-thumbs-o-up text-success"></i> {{ success.header }}</h3>

            <p>{% block mensagen_success %}{{ success.message }}{% endblock %}</p>
            <p>{% block mensagen_success_instruction %}{{ success.instruction }}{% endblock %}</p>
            <p>{% block mensagen_success_redirect %}Ir para página de <a href="{{path("login")}}">login</a>.{% endblock %}</p>
          </div>
          <!-- /.error-content -->
        </div>
        <!-- /.error-page -->
    </section>
    <!-- /.content -->
{% endblock %}