<h3><b>Parabén!</b> Você está registrado em nosso sistema!</h3>
<p style="text-align: right"> {{ "now"|date("d/m/Y H:i:s") }}</p>
<hr/>
<p><b><i>Olá!!!</i></b></p>
<p>Sua senha foi redefinada, por favor acesse a área do <a href="{{path("login")}}">login</a> e tente fazer o acesso.</p>
<br>
<p>Dados cadastrados:</p><br>
<p><b>login:</b> {{user.username}}</p><br>
<p><b>e-mail:</b> {{user.email}}</p><br>
<p><b>nova senha:</b> {{newPassword}}</p><br>

<br><br>
<hr/>
<h5><b>Epsoftware &COPY;</b></h5>
<h6>(11) 9-8886-4311</h6>




