{% extends "@User/Template/template.html.twig" %}

{% block title 'Login' %}
     
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets  '@UserBundle/Resources/public/css/login.css' filter="cssrewrite" output="compiled/css/login.css" %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@UserBundle/Resources/public/js/login.js' output="compiled/js/login.js" %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %} 
  
    {% block login_form %}
        <div class="login-box">
            
            <div class="login-logo">
                <a href="{{path("homepage")}}"><b>Admin</b>sample</a>
            </div><!-- /.login-logo -->
            
            <div class="login-box-body border-top-blue border-bottom-blue">
                <p class="login-box-msg">
                    Iniciar sessão de usuário
                    {% if error %}
                        <div class="callout callout-danger">
                            <h4>Alerta</h4>
                            <p>{{ error.message| replace({
                                        'Bad credentials.' : 'Usuário ou senha inválidos.',
                                        'User account is disabled.' : 'Conta desabilitada, caso tenha acabado de cria-la, você pode ainda não tela habilitada, cheque seu e-mail.',
                                        'User account has expired.' : 'Esta conta de esta expirada, contate o administrador do sistema.',
                                        'User account is locked.' : 'Sua conta de usuário esta bloqueda, contate o administrador do sistema.',
                                        'User credentials have expired.' : 'Sua credenciais de acesso expirarão, contate o administrador do sistema.'
                                    }) 
                                }}
                            </p>
                        </div>
                    {% endif %}
                </p>
                
                <form name="login" action="{{ path('login_check') }}" method="POST">
                {{ form_start(form) }}    
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group has-feedback">
                                {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'login ou e-mail'} }) }}
                                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group has-feedback">
                                {{ form_widget(form.plainPassword, { 'attr': {'class': 'form-control', 'placeholder': 'senha',} }) }}
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                           
                        </div><!-- /.col -->
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-primary btn-block btn-flat'} }) }}
                        </div><!-- /.col -->
                    </div>
                {{ form_end(form) }}
                </form>
                <hr>
                <div class="row">
                    <div class="text-left col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <a href="{{ path("register_user") }}" class="text-center">Registrar-se</a>
                    </div><!-- /.col -->
                    <div class="text-right col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <a href title="Recuperação de acesso em caso de esquecimento de senha" data-toggle="modal" data-target="#forget-password" >Recuperar senha</a>
                    </div><!-- /.col -->
                </div>
                
            </div><!-- /.login-box-body -->
        </div><!-- /.login-box -->
    
    {% endblock %}
    
    <div class="modal fade" id="forget-password" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Recuperação de senha</h4>
                </div>
                <div class="modal-body">
                    <p class="text-justify text-uppercase text-bold text-danger">
                        Para que você recupere a o acesso ao sistema é necessário lembrar de seu e-mail de acesso, é por ele que será efetuada a validação do seu usuário.
                        Caso também tenha esquecido o e-mail entre em contato com o administrador do sistema, ele poderá reativar sua conta.
                    </p>
                    {{form_start(form_recovery_pass)}}
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group has-feedback">
                                    {{ form_widget(form_recovery_pass.email, { 'attr': {'class': 'form-control', 'placeholder': 'Coloque seu e-mail' } }) }}
                                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8"></div><!-- /.col -->
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                {{ form_widget(form_recovery_pass.submit, { 'attr': {'class': 'btn btn-primary btn-block btn-flat'} }) }}
                            </div><!-- /.col -->
                        </div>
                    {{form_end(form_recovery_pass)}}
                </div>
            </div><!-- /modal-content -->
        </div><!-- /modal-dialog -->
    </div><!-- /modal_address_add -->
{% endblock %}
