{% set image_user = app.user.image ? app.user.image.path : 'images/users/default.png' %}
{%block profile %}    
    <!-- User Account: style can be found in dropdown.less -->
    <li class="dropdown user user-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="{{ asset(image_user) }}" class="user-image" alt="User image" />
            <span class="hidden-xs">{{ app.user.profile ? app.user.profile.nome : app.user.username }}</span>
        </a>
        <ul class="dropdown-menu">
        <!-- User image -->
            <li class="user-header">
                <img src="{{ asset(image_user) }}" class="img-circle" alt="User image" />
                <p>
                    {{ app.user.email }}
                    <small>registrado desde {{ app.user.created | date("m/y") }}</small>
                </p>
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
                <div class="pull-left">
                    <a href="{{path("user_profile")}}" class="btn btn-default btn-flat">perfil</a>
                </div>
                <div class="pull-right">
                    <a href="{{path("logout")}}" class="btn btn-default btn-flat">logout</a>
                </div>
            </li>
        </ul>
    </li>
{%endblock%}    