{% extends "@Dashboard/Dashboard/dashboard.html.twig" %}

{% block title 'Perfil' %}
{% block pageName 'Perfil' %}
{% block pageDescripton 'Informações do usuário' %}

{% block pageRoute %}
    <li><a href="{{path("user_profile")}}"><i class="fa fa-dashboard"></i> Perfil</a></li>
    <li class="active">Inf. do usuário</li>
{% endblock %}

{%block stylesheets %}
    {{ parent()}}
    {% stylesheets  'public/adminlte/plugins/datepicker/datepicker3.css' filter='cssrewrite' output='compiled/css/perfil.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent()}}
    {% javascripts 'public/adminlte/plugins/datepicker/bootstrap-datepicker.js'
                   'public/adminlte/plugins/input-mask/jquery.inputmask.js'
                   '@PerfilBundle/Resources/public/js/*' output='compiled/js/perfil.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body_content %}
    
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-9">
            
            <!--div nav-tab-->
            <div class="nav-tabs-custom">
                
                <!--ul nav-tabs-->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#perfil" data-toggle="tab">Perfil</a>
                    </li>
                    <li>
                        <a href="#endereco" data-toggle="tab">Endereços</a>
                    </li>
                    <li>
                        <a href="#login" data-toggle="tab">Login</a>
                    </li>
                </ul><!--ul nav-tabs-->
                
                <!--div tab-content-->
                <div class="tab-content">
                    
                    <!--div tab-pane perfil-->
                    <div class="active tab-pane" id="perfil">
                        {% embed '@Perfil/Forms/profile.html.twig' %}{% endembed %}
                    </div><!--div tab-pane perfil-->
                    
                    <!--div tab-pane endereco-->
                    <div class="tab-pane" id="endereco">
                        {{ (app.user.profile) ? address(app.user.profile) | raw }}
                    </div><!--div tab-pane endereco-->
                    
                    <!--div tab-pane login-->
                    <div class="tab-pane" id="login">
                        {% embed '@Perfil/Forms/user.html.twig' %}{% endembed %}
                    </div><!--div tab-pane login-->
                    
                </div><!--div tab-content-->
            </div><!--div nav-tab-->
        </div><!--col-->
        
        <div class="col-sm-12 col-md-12 col-lg-3">
            
            <!--div nav-tab-->
            <div class="nav-tabs-custom">
                
                <!--ul nav-tabs-->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#configuracoes" data-toggle="tab">Configurações</a>
                    </li>
                </ul><!--ul nav-tabs-->
                
                <!--div tab-content-->
                <div class="tab-content">
                    
                    <!--div tab-pane perfil-->
                    <div class="active tab-pane" id="configuracoes">
                        {% embed '@Perfil/Forms/configuration.html.twig' %}{% endembed %}
                    </div><!--div tab-pane perfil-->
                </div><!--div tab-content-->
            </div><!--div nav-tab-->
        </div><!--col-->
    </div><!--row-->
{%endblock%}

