{% block form_config %}
    
    {{ form_start(form_conf) }}
        
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p class="login-box-msg">
                    Opções de configurações da conta do usuário
                    {% if form_errors(form_conf) %}
                        <div class="callout callout-danger">
                            <h4>Alerta</h4>
                            <p>{{form_errors(form_conf)}}</p>
                        </div>
                    {% endif %}
                </p>
            </div>
        </div>
    
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group has-feedback {{form_errors(form_conf) ? 'has-error' }}">
                    <label>Aparência</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-picture-o"></i>
                        </span>
                        {{ form_widget(form_conf.theme, { 'attr': {'class': 'form-control', 'id': 'layout-skins-list' } }) }}
                        {{form_errors(form_conf.theme)}}
                    </div>
                </div>
            </div>
        </div>
                
    {{ form_end(form_conf) }}
    
{% endblock %}
